html,
body {
    width: 100%;
    height: 100%;
    line-height: 0px;
}
.titles{
    color: dimgray;
    font-size: small;
}

body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.content-wrapper {
    max-width: 90%;
    margin: auto;
    margin-top: 100px;
}

table, th, td {
    /*border: 1px solid lightgray;*/
    border-collapse: collapse;
    text-align: center;
}

.date {
    height: 90px;
    width: 7%;
    min-width: 50px;
    float: left;
    color: #FFFFFF;
    text-align: center;
    background: #537710;
    overflow: hidden;
}

.location {
    margin: auto;
    float: right;
}

.topdata {
    height: 100px;
    width: 100%;
}

td{
    text-align: center;
    width: 50px;
}

th{

    width: 50px;
}

.forecast_col{
    width:100px;
    line-height: 1; /*or whatever you like.*/
}

table.forecast {
    table-layout:fixed;
    width:100%;
    border-collapse: separate;
    border-spacing: 2px;
}/*Setting the table width is important!*/
table.forecast tr {
    /*overflow:hidden;*/
    height: 50px;
    width: 50px;
}/*Hide text outside the cell.*/

.form_wrapper {
    border: gray 1px;
}

