html, body {
    width: 100%;
    height: 100%;
    line-height: 1px;
}
.titles{
    color: dimgray;
    font-size: small;
}

body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.content-wrapper {
    max-width: 90%;
    margin: auto;
    margin-top: 100px;
}

table, th, td {
    border: 1px solid #CCCCCC;
    border-collapse: collapse;
    text-align: center;
}

.date {
    height: 90px;
    width: 7%;
    min-width: 50px;
    float: left;
    color: #FFFFFF;
    text-align: center;
    background: #537710;
    overflow: hidden;
}

.location {
    margin: auto;
    float: right;
}

.topdata {
    height: 100px;
    width: 100%;
}

td{
    transition-duration: 0.2s;
    text-align: center;
    width: 50px;
}

td:hover{
    transition-duration: 0.2s;
    background-color: #d7d7d7 !important;
}

th{
    width: 50px;
}

.forecast{
    margin: auto;
}

.forecast_col{
    width: 100px;
    line-height: 1;
    border-left-width: 0;
    border-right-width: 0;
}

table.forecast {
    table-layout:fixed;
    border-collapse: separate;
    border-spacing: 5px;
    border: 0;

}/*Setting the table width is important!*/
table.forecast tr {
    /*overflow:hidden;*/
    height: 50px;
    width: 50px;
}/*Hide text outside the cell.*/

.form-wrapper {
    width: 800px;
    height: 58px;
    background-color: lightgray;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;

}
.location-form{
    padding: 10px 10px;
    width: 700px;
    margin: auto;
}
h1 {
    overflow: auto;
    margin: 10px 10px 10px 10px;
}



