{% extends "base.html" %}
{% block title %} Index {% endblock %}
{% block content %}

<body>
  <div class="content-wrapper">

    <form action="/" method="POST">
      <label for="city">Enter a city</label>
      <input type="text" name="city" id="city"/>
      <label for="state">Enter a state</label>
      <input type="text" name="state" id="state"/><br>
      <input type="submit" value="Submit" />
    </form>

    <span>{{location}}</span>
    <div class="topdata">

      <div class="date">
        <span>{{date}}</span>
      </div>



    </div>

    <div style="overflow:scroll">
      <table style="width:100%" class="forecast">

        <!-- Moon phase and Hour -->
        <tr id="top_row">
          <th class="forecast_col">{{phase}}</th>
          {% for key in darksky %}
            <th style="color:white; text-align: center" id="hour{{key}}">{{ key }}</th>
          {% endfor %}
        </tr>

        <!-- Actual Temperature -->
        <tr>
          <td class="forecast_col"><span class="titles"> Actual Temperature </span></td>
          {% for key in darksky %}
            <td id="temp{{key}}"> {{ darksky[key]['temp'] }}</td>
          {% endfor %}
        </tr>
        <!-- Perceived Temperature -->
        <tr>
          <td class="forecast_col"><span class="titles"> Perceived Temperature </span></td>
          {% for key in darksky %}
            <td id="feels_like{{key}}"> {{ darksky[key]['feels_like'] }}</td>
          {% endfor %}
        </tr>

        <!-- Wind Speed -->
        <tr>
          <td class="forecast_col"><span class="titles"> Wind Speed (mph) </span></td>
          {% for key in darksky %}
            <td id="speed{{key}}"> {{ darksky[key]['wind_speed'] }}</td>
          {% endfor %}
        </tr>

        <!-- Wind Direction -->
        <tr>
          <td class="forecast_col"><span class="titles"> Wind Direction </span></td>
          {% for element in wind_directions %}
            <td id="{{wind_direction_ids[loop.index0]}}"> {{ element }}</td>
          {% endfor %}
        </tr>

        <!-- Cloud Coverage -->
        <tr>
          <td class="forecast_col"><span class="titles"> Cloud Coverage </span></td>
          {% for key in darksky %}
            <td id="cover{{key}}"> {{ darksky[key]['clouds'] }}</td>
          {% endfor %}
        </tr>


      </table>
    </div>
  </div>
</body>

{% for key in darksky %}
  <!-- Script to colorize the hour cells -->
  <script>
    if ("{{darksky[key]['wind_speed']}}" > 8 || "{{darksky[key]['clouds']}}" > 20) {
      document.getElementById("hour{{key}}").style.backgroundColor = "red";
    }
    else if ("{{darksky[key]['wind_speed']}}" < 8 && "{{darksky[key]['wind_speed']}}" > 6 ||
             "{{darksky[key]['clouds']}}" < 20 && "{{darksky[key]['clouds']}}" > 10){
      document.getElementById("hour{{key}}").style.backgroundColor = "orange";
    }
    else {
      document.getElementById("hour{{key}}").style.backgroundColor = "green";
    }
  </script>
{% endfor %}

  <script>
    document.getElementById("hour{{current_hour}}").style.border = "2px solid cornflowerblue";
    document.getElementById("temp{{current_hour}}").style.border = "2px solid cornflowerblue";
    document.getElementById("feels_like{{current_hour}}").style.border = "2px solid cornflowerblue";
    document.getElementById("speed{{current_hour}}").style.border = "2px solid cornflowerblue";
    document.getElementById("direction{{current_hour}}").style.border = "2px solid cornflowerblue";
    document.getElementById("cover{{current_hour}}").style.border = "2px solid cornflowerblue";
  </script>

{% endblock %}

