{% extends "base.html" %}
{% block title %} Index {% endblock %}
{% block content %}
<body>
    <div class="content-wrapper">

        <form action="/forecast" method="POST">
            <label for="city">Enter a city</label>
            <input type="text" name="city" id="city"/>
            <label for="state">Enter a state</label>
            <input type="text" name="state" id="state"/><br>
            <input type="submit" value="Submit"/>
        </form>
        <div class="date">
            <span style="display:inline-block;">{{cur_day}}</span>
        </div>
    </div>
</body>
{% endblock %}

